name: dash_kit_uikit
description: The dash component for creation of your own UI component library.
version: 1.0.0
homepage: https://github.com/Dash-Kit/dash-kit-ui-kit

environment:
  sdk: ">=2.3.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter: